#define SECRET_WIFI_SSID "<your ssid>"
#define SECRET_WIFI_PASS "<your passphrase>"
// The SECRET_HUD_URL should return something like:
// > color:#ff0000
// > another-header:blah
// > line0:LINE_1_LCD_TEXT
// > line1:LINE_2_MAX_16X2
#define SECRET_HUD_URL "http://example.com/2-lines-of-hud-info.txt"
